.siteHeader {
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 80px;
}

.exampleContainer {
  display: flex;
  justify-content: center;
}

#greeting {
  font-family: 'Baloo Chettan', cursive;
  text-align: center;
}

#endMessage{
  text-align: center;
  font-family: 'Baloo Chettan', cursive;
}

#exampleImage {
  border: 5px dashed black;
}

#return {
  text-align: center;
  font-family: 'Baloo Chettan', cursive;
}

.formContainer {
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
  justify-content: center;
  text-align: center;
}

.formContainerItem {
  grid-column-start: 3;
  grid-column-end: 4;
}

.peram {
  font-family: 'Baloo Chettan', cursive;
}

.info {
  text-align: center;
}

.body {
  background: linear-gradient(301deg, #14cc9d, #cc5614, #cc142b, #cc6714, #14cc44, #ecf10d);

  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:17% 0%}
      50%{background-position:84% 100%}
      100%{background-position:17% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:17% 0%}
      50%{background-position:84% 100%}
      100%{background-position:17% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:17% 0%}
      50%{background-position:84% 100%}
      100%{background-position:17% 0%}
  }
}
