<!DOCTYPE html>

<html>
  <head>
    <title>Welcome to Meme Generator!</title>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Kumar+One+Outline" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
    <link type='text/css' rel='stylesheet' href='/css/style.css'>
  </head>
  <body class='body'>
    <h1 class="siteHeader">Meme Generator</h1>
    <div class="exampleContainer">
      <img id='exampleImage' height="500px" width="auto" src='{{ meme_img }}'/>
    </div>
    <h2 id="greeting">Welcome to my Meme Generator</h2>

    <div id="formContainerItem">
      <form class='formContainer' method=POST>
        <h2 class='peram'>Line 1 of meme:</h2>
        <input type='text' name='user-first-ln' value='First line of meme'>
        <br>
        <h2 class='peram'>Line 2 of meme:</h2>
        <input type='text' name='user-second-ln' value='Second line of meme'>
        <br>
        <h2 class='peram'>Meme type:</h2>
        <select name='meme-type'>
          {% for name in memes.keys() %}
            <option name='{{ name }}'>{{ name }}</option>
          {% endfor %}
        </select>
        <br>
        <input type='submit' value='go!'>

      </form>
    </div>
  </body>
</html>
